@model JobLinq.ViewModels.RegisterVM

<h1> Kullanıcı Kayıt </h1>

<form method="post" asp-action="Register" class="mt-5">
    <div class="mb-3">
        <label class="form-label">E-Mail</label>
        <input type="email" class="form-control" asp-for="UserEmail"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="UserPassword" />
    </div>
    <div class="mb-3">
        <label class="form-label">Kullanıcı Type</label>
        <input type="text" class="form-control" asp-for="UserType" />
    </div>

    <button type="submit" class="btn btn-primary"> Kaydet</button>

</form>